---
import type { GetStaticPaths } from "astro";
import {deptos} from "../../consts/deptos"
import { wrapper } from "../../styles/styling";
import Layout from "../../layouts/Layout.astro"
import DeptoInfo from "../../sections/departamento/DeptoInfo.astro"
import AirbnbBtn from "../../components/AirbnbBtn.astro";
import Slider from "../../components/Slider"

const {id} = Astro.params
let depto

if(id){
    depto = deptos.find(depto => depto.id == id)
}

export const getStaticPaths = (() => {
    return deptos.map((depto) => ({ 
        params: {id: depto.id}
     }))
}) satisfies GetStaticPaths;
---

<Layout title="JP Rentals - Departamento" description="JP Description">
    <Slider client:load id={depto.id}/>
    <section class="flex justify-center items-center py-16">
        <div class=`${wrapper} grid grid-cols-3 gap-8 w-full`>
            <DeptoInfo depto={depto}/>
            <AirbnbBtn link={depto.link}>
        </div>
    </section>
</Layout>