---
import DivEffect from "../../components/DivEffect.astro"
const {depto} = Astro.props
---
<DivEffect as="div" class="col-span-2 p-10">
    <h2>{depto.title}</h2>
    <!-- Details -->
    <h4>{depto.barrio}</h4>
    <p>{depto.description}</p>
    <!-- Gallery -->
    <iframe src={depto.location} allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full"></iframe>
    <div class="absolute -bottom-3 -left-3 -z-10 p-10 w-full h-full bg-[var(--white)] rounded-md border border-[var(--darkest)]"></div>
</DivEffect>
