---
import { wrapper } from "../../styles/styling";
import Title from "../../components/Title.astro"
import TeamCard from "../../components/TeamCard.astro";
import {MEMBERS} from "../../consts/team"
---

<section class="pt-24 flex justify-center items-center">
    <div class=`${wrapper} flex flex-col gap-16 justify-center items-center`>
        <Title title="El Equipo" text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aperiam!"/>
        <div class="flex justify-between gap-8 w-full">
            {MEMBERS.map(member => {
                return <TeamCard name={member.name} data={member.data} img={member.img}/>
            })}
            </div>
    </div>
</section>